 .inicioNuevo {
     background-size: cover;
     height: 100vh;
     color: #f1f1f1;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-image: url('../Imagenes/pcFondo.jpg');
     background-blend-mode: overlay;
     line-height: 0;
 }



 .contenedor {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .fotoPersonal {
     padding: 20px;
     background-color: #0b0d0e;


     text-align: center;
     border-radius: 40px;
 }

 .fotoPersonal img {
     margin-top: 40px;
     border: 7px solid #ffffff;

     width: 80%;

     border-radius: 100%;
 }

 .fotoPersonal img {
     margin-top: 40px;
     border: 2px solid #ffffff;
     width: 80%;
     border-radius: 100%;
 }

 .inicioNuevo h1 {
     margin-top: 9px;
     font-size: clamp(12px, 4vw, 32px);
     font-family: 'Righteous';
     transition: background-color 0.3s ease, box-shadow 0.3s ease;

     filter: drop-shadow(0px 0px 0px #fff);

     img {
         width: 37px;
         transition: all 5s;
         /* filter: drop-shadow(8px 8px 4px #fff); */
     }
 }

 .inicioNuevo h1::after {
     content: '';

 }

 .inicioNuevo h1:hover::after {

     box-shadow: 3px 5px 1px rgb(201, 3, 3);
 }

 .mainContainer {
     width: 85px;
     /* Ajusta el ancho máximo de la tarjeta */
     height: 155px;
     /* O ajusta la altura máxima según lo necesites */
     padding: 75px;
     align-items: center;
     display: flex;
     margin: auto;
     margin-bottom: 2px;
     position: relative;
     flex-direction: column;
     position: relative;
     background: rgba(255, 255, 255, 0.6);
     box-shadow: 0 8px 32px 0 rgba(18, 19, 34, 0.37);
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     border-radius: 30px;
     transition: background-color 0.3s ease, box-shadow 0.3s ease;
     border: 1px solid rgba(255, 255, 255, 0.822);
     transition: background-color 0.3s ease, box-shadow 0.3s ease;
     /* Agregar box-shadow a la transición */
     box-shadow: 1px 5px 7px rgba(0, 47, 255, 0.418);
 }

 .mainContainer:hover {
     background-color: #4d5e839c;
     box-shadow: 3px 3px 33px 10px rgb(0, 8, 3);
 }

 .inicioNuevo h2 {
     margin-top: 80px;
     font-size: 30px;
     font-family: 'Righteous';
 }

 .redes a {
     color: #ffffff;
     display: inline-block;
     text-decoration: none;
     border: 1px solid #fff;
     border-radius: 50%;
     width: 42px;
     height: 42px;
     line-height: 42px;
     margin: 40px 5px;
     font-size: 20px;
     transition: background-color 0.3s ease, box-shadow 0.3s ease;
     box-shadow: 1px 1px 1px rgba(71, 2, 2, 0.979);
 }

 .redes img {
     width: 50px;
     height: 50px;
 }

 .redes a:hover {
     background-color: #fff;
     box-shadow: 3px 3px 33px 10px rgb(0, 8, 3);
     color: black;
     border-radius: 1000%;
     transition: all 1.5s;
 }

 .nombreTitulo {
     text-align: center;
     margin-top: -200px;
     margin-left: 310px;
     margin-right: auto;

 }



 @media screen and (max-width: 992px) {
     .nombreTitulo {
         margin-left: 0;
         margin-top: -150px;
         /* Ajusta este valor según sea necesario */
     }
 }

 /* For medium devices */
 @media screen and (max-width: 768px) {
     .inicioNuevo {
         background-size: contain;
         /* Cambia el tamaño de fondo para adaptarse al tamaño de la pantalla */
     }

     .nombreTitulo {
         margin-left: 0;
         margin-top: -100px;
         /* Ajusta este valor según sea necesario */
     }
 }

 @media screen and (max-width: 576px) {
    .inicioNuevo {
        background-size: contain;
        color: #0b0d0e;
        background-image: none;
        display: flex;
        flex-direction:column; /* Cambiar la dirección de los elementos a columna */
        align-items: center; /* Centrar los elementos horizontalmente */
    }

    .nombreTitulo {
        margin-left: 0;
        margin-top: -650px; /* Ajusta este valor según sea necesario */
        text-align: center; 
        margin-left: -200px;/* Centrar el texto horizontalmente */
    }

    .nombreTitulo h2 {
        display: flex;
        justify-content: center;
    }

    .fotoPersonal {
        align-items: end; /* Centrar los elementos verticalmente */
        margin-top: 50px;
       
    }
 }

 /* For small devices */
 @media screen and (max-width: 350px) {
     .nombreTitulo {
         margin-left: 0;
         margin-top: -20px;
         /* Ajusta este valor según sea necesario */
     }
 }