/* Estilos para la barra de navegación */
.header {
    z-index: 9;
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
    margin: auto;
    background-color: #0b0a0c;
    position: fixed;
}

.logo {
    font-family: 'Righteus';
    font-size: 35px;
    font-weight: 700;
    color: aliceblue;
    text-decoration: none;
    width: 100%;
    height: 60%;
    margin-left: 50px;
}

.header ul {
    display: flex;
    list-style: none;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.nav a {
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: 0 10px;
    padding: 3px;
    transition: .5s;
}

.nav a:hover {
    color: aqua;
}



.logo a:hover {
    color: aqua;
}

@media screen and (max-width: 980px) {
    .header {
        display: flexbox;
    }

    /* .nav {
        display: block;
        position: absolute;
        right: 0;
        top: 75%;
        width: 180px;
    } */
    .nav {
        flex-direction: column;
        position: static;
        background-color: #0b0a0c;
        width: 100%;
        text-align: left;
        transform: translateY(0%);
    }


    .responsive {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
        color: aliceblue;
        cursor: pointer;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: #252a2e;
        width: 180px;
        position: absolute;
        top: 75px;
        right: 0;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .nav ul li {
        border-bottom: 1px solid #fff;
    }

    .nav ul li:last-child {
        border-bottom: none;
    }

    .nav ul li a {
        color: rgba(255, 255, 255, 0.982);
        font-size: 1.3rem;
        text-decoration: none;
        font-weight: 600;
        padding: 10px;
        transition: .5s;
    }

    .nav ul li a:hover {
        color: aqua;
    }

    .nav.showNav {
        display: block;
    }
}